/* Contrubtor: Tahira */
body{
    width: min-content 100px fit-content;
    width: max-content 100px fit-content;
    position: fixed fit-content;
    background-position:center fixed ;
    background-size: contain fit-content;
    background-color: rgb(220, 150, 150);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url(https://github.com/tdurant12/Project1-Love-Compatibilty/blob/main/Themes/Heart.jpg?raw=true);
}

button{
    background-color: orangered;
    text-align: center;
    color: white;
    width: 90px;
    height: 40px;
    margin-left: 530px;
    margin-top: 470px;
    border-radius: 26PX;
    border-color: gold;
  
   

}
.container1{
    position: center;
    margin-left: 450px;
    margin-top: 300px;
    margin-bottom: -500px;
   

}
h1{
    text-align: center;
    position: fixed;
    margin-left: 430px;
    color:black;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    border-style:outset;
    border-color: gold;
    margin: fixed;
   
 }
input{
    border-color: goldenrod;
    width: 200px;
    margin-left: 40px;
    margin-top: 80px;
    margin-right: -70px;
 
}
label{
    display: grid;
    margin-bottom: -80px;
}
.container{
    margin-top: 100px;
    position: fixed;

}
